.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
    font-family: 'Raleway',Helvetica Neue,Helvetica,sans-serif;
    color: #26292A;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

.header {
    background: #F6F6F6;
}

.header-top {
    display: inline-block;
}

.header-title {
    font-size: 2em;
    text-align: right;
    text-transform: uppercase;
}

.header-tagline {
    text-align: right;
}

.header-links {
    margin-top: 2em;
    text-align: right;
}

.header-links li {
    display: inline-block;
    margin-right: 1em;
}

.main {
    background: #FFFFFF;
}

.content {
    margin: 0 auto;
    max-width: 40em;
    padding: 1em;
}

.frontpage-product {
    float: left;
    margin-bottom: 2%;
    position: relative;
    vertical-align: top;
    width: 48.5%;
}

.frontpage-product.margin {
    margin-right: 3%;
}

.frontpage-product.fullwidth {
    width: 100%;
}

.frontpage-product-link {
    display: block;
    text-decoration: underline;
}
.frontpage-product-title {
    background: #14140E;
    color: #FFFFFF;
    font-size: 2em;
    left: 0;
    opacity: .5;
    padding: 1em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

@media (min-width: 34em) {
    .frontpage-product-title {
        bottom: 0;
        opacity: 0;
        padding: 50% 0;
        transition: opacity .5s;
    }
}

.frontpage-product:hover .frontpage-product-title {
    opacity: .7;
}

.product-title {
    font-size: 2em;
    margin-bottom: .5em;
}

.text-content p {
    margin-bottom: 1em;
    line-height: 1.4em;
}

.text-content img {
    margin: 4em auto 0;
    width: 70%;
}
