.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
    font-family: 'Raleway',Helvetica Neue,Helvetica,sans-serif;
    color: #26292A;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

.header {
    background: #F6F6F6;
}

.header-title {
    font-size: 2em;
    text-transform: uppercase;
}

.header-tagline {
}

.header-links {
    margin-top: 2em;
    text-align: right;
}

.main {
    background: #FFFFFF;
}

.content {
    margin: 0 auto;
    max-width: 40em;
    padding: 1em;
}

.frontpage-product {
    float: left;
    margin-bottom: 2%;
    position: relative;
    vertical-align: top;
    width: 48.5%;
}

.frontpage-product.margin {
    margin-right: 3%;
}

.frontpage-product-title {
    background: #14140E;
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    opacity: 0;
    padding: 50% 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: opacity .5s;
}

.frontpage-product:hover .frontpage-product-title {
    opacity: .5;
}
