<header class="header">
    <div class="content">
        <div class="header-top">
            <h1 class="header-title">
                <a href="{{ site.github.url }}/">{{ site.title }}</a>
            </h1>
            <p class="header-tagline">Hand-crafted porcelain lighting and ceramics</p>
        </div>
        <ul class="header-links">
            <li>
                <a href="{{ "/" | prepend: site.github.url }}">Products</a>
            </li>
            <li>
                <a href="{{ "/publicart" | prepend: site.github.url }}">Public art</a>
            </li>
            <li>
                <a href="{{ "/about" | prepend: site.github.url }}">About</a>
            </li>
            <li>
                <a href="{{ "/contact-and-sales" | prepend: site.github.url }}">Contact</a>
            </li>
        </ul>
    </div>
</header>
